<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        const object = 
{
    actors: 
    [
        {
            firstname: 'Leonardo',
            lastname: 'De Caprio',
            birthyear: 1974,
            birthmonth: 11,
            birthday: 11,
            birthplace: 'Los Angeles, California, Usa',
            pictures: ['<img src="https://cdn.britannica.com/65/227665-050-D74A477E/American-actor-Leonardo-DiCaprio-2016.jpg"',
                        '<img src="https://cdn.britannica.com/68/154868-050-7589A071/Titanic-Leonardo-DiCaprio.jpg"',
                        '<img src="https://cdn.britannica.com/58/188358-050-A2003775/set-Alejandro-Gonzalez-Inarritu-Leonardo-DiCaprio-The.jpg"']
        },

        {
            firstname: 'Robert',
            lastname: 'De Nero',
            birthyear: 1943,
            birthmonth: 8,
            birthday: 17,
            birthplace: 'New York, Usa',
            pictures: ['<img src="https://cdn.britannica.com/00/213300-050-ADF31CD9/American-actor-Robert-De-Niro-2019.jpg"',
                        '<img src="https://cdn.britannica.com/60/105660-050-8FD34A2F/Robert-De-Niro-Taxi-Driver.jpg"',
                        '<img src="https://cdn.britannica.com/96/77096-050-4BB7596C/Robert-De-Niro-Christopher-Walken-The-Deer.jpg"']
        },    

        {
            firstname: 'Jack',
            lastname: 'Nicholsen',
            birthyear: 1937,
            birthmonth: 4,
            birthday: 22,
            birthplace: 'New Jersey, Usa',
            pictures: ['<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Jack_Nicholson_2001.jpg/220px-Jack_Nicholson_2001.jpg"',
                        '<img src="https://cdn.britannica.com/19/177219-050-907DD0E7/Jack-Nicholson-The-Shining-Shelley-Duvall-Stanley.jpg"',
                        '<img src="https://cdn.britannica.com/78/191378-050-CC606B7C/Diane-Keaton-Something-Jack-Nicholson-Gotta-Give.jpg"']
        }

    ] 

}
    </script>
</body>
</html>